@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

body, h1, h2, h3, p, ul, li, a{
    font-family: 'Source Sans Pro';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    background-color: #EEEEEE;
  }

  .menu .list {
    display: none;
    
  }

.menu.open .list {
  display: block !important;
}

.menu-button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #FFF;
  height: 24px;
}

/* Estilos para os itens do menu */
.list {
  background-color: #FFF;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list div {
  padding: 5px 0;
  cursor: pointer;
}

.list div:hover {
  background-color: #F5F5F5;
}

.menu {
  display: none;
  position: absolute; /* Adicionamos a propriedade position */
}

.menu.open {
  display: block;
}
    
  #header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
  }

  #wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #sidebar {
    background-color: #f9f9f9;
    padding: 20px;
    flex: 0 0 30%; 
  }

  #post {
    width: 70%;
    display: flex;
    flex-wrap: wrap; /* Permite que os posts sejam colocados em linhas quando não couberem na largura */
    justify-content: center;
  }

  .post {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }